<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tech-Blog!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar is-link">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">Home</a>
      </div>
        <a href="/dashboard" class="navbar-item" style="color: white">DashBoard</a>
        {{#if loggedIn}}
        </div>
        <a href="/login" class="navbar-item" style="color: white" id="logout">LogOut</a>
      </div>
        {{else}}
      </div>
        <a href="/login" class="navbar-item" style="color: white">Login</a>
      </div>
        {{/if}}

    </nav>
    <section class="hero is-medium is-link">
      <div class="hero-body">
        <p class="title has-text-centered" style="font-size: 6rem">
          The Tech-Blog!
        </p>
      </div>
    </section>
    <section class="section">
      {{{body}}}
    </section>
    {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>
